*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.out
**/*.csv
**/*.gz
**/*.rds
**/*.rda
**/*.smi
**/*.svg
**/*.tiff
**/*.txt
**/*.xlsx
**/*.ipynb_checkpoints/
Databases/
logs/
tmp_dir/
Trash/
Trash*/
*_sampo_Rscript.sh
derby.log
!**/*.R
!/Databases/Directory_Structure_Databases.txt
!Code_execution_sequence.csv