*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.out
**/*.csv
**/*.gz
**/*.rds
**/*.rda
**/*.smi
**/*.svg
**/*.tiff
**/*.txt
**/*.xlsx
**/*.ipynb_checkpoints/
Databases/
logs/
tmp_dir/
Trash/
Trash*/
derby.log
!**/*.R
!/Databases/Directory_Structure_Databases.txt
!Code_execution_sequence.csv


Scripts/Drug_combinations/.ipynb_checkpoints/DrugCombinations-checkpoint.R
Scripts/Functions/.ipynb_checkpoints/Functions_modelTraning_drugComb-checkpoint.R
Scripts/Summary_plots/.ipynb_checkpoints/plot_DrugCombs_featureImportance-checkpoint.R
Scripts/Summary_plots/.ipynb_checkpoints/plot_panCancer_DrugCombs_ModelAccuracy-checkpoint.R
