.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.out
**/*.rds
**/*.rda
**/*.smi
**/*.csv
**/*.tiff
**/*.txt
**/*.xlsx
**/*.gz
**/*.svg
Databases/
logs/
Trash/
Trash*/
tmp_dir/
derby.log
*_sampo_Rscript.sh
!**/*.R
!/Databases/Directory_Structure_Databases.txt